/* ESTILOS PARTICULARES */
/* estilos -> buttonBack */
.buttonBack {
  cursor: pointer;
}

.buttonBack:hover {
  text-decoration: underline;
}

/* estilos -> isLoading */
.isLoading {
  margin: 2rem;
}

/* estilos -> Item */
.item {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  background-color: #e0cda9;
}

/* estilos -> Descripcion */
.description {
  font-style: italic;
  color: #555;
}

/* estilos -> Image */
.imageItem {
  width: 30rem;
}

/* estilos -> Image Legging */
.imageItemLegging {
  max-height: 33rem;
  width: auto;
  display: block;
  margin: 0 auto;
}
