/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

/* ESTILOS GENERALES */
/* estilos body */
body {
  background-color: #D9B580;
}

/* ESTILOS PARTICULARES */
/* estilos -> Link Activo */
.active {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  font-weight: bold;
}