/* ESTILOS PARTICULARES */
/* estilos -> Title  */
.title {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

/* estilos -> isLoading */
.isLoading {
  margin: 2rem;
}

/* estilos -> Card */
.bgcard {
  background-color: #e0cda9;
}

/* estilos -> Image */
.productImage {
  max-height: 20rem;
}

/* estilos -> Image Legging */
.productImageLegging {
  width: auto;
  display: block;
  margin: 0 auto;
}

/* estilos -> Out Stock */
.outStock {
  position: absolute;
  top: 11%;
  left: 29%;
  transform: translate(-50%, -50%);
  background-color: rgb(128, 128, 128, 0.75);
  color: white;
  padding: 0.6rem;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

/* estilos -> showShipping */
.containerCustom {
  overflow: hidden;
  white-space: nowrap;
}
.showShipping {
  animation: slideInLeft 20s linear infinite;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(-75%);
  }
}
